body {/*Fondo*/
    background: url("../pictures/background.jpg");
    background-attachment: fixed;
    background-position:center;;
}

* {/*Formato en texto*/
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{/*Formato para la etiqueta h2*/
  margin-top: 50px;
  margin-bottom: 20px;
  position : relative;
  font-size : 400%;
  animation : translate1 3s infinite;
}
/*Animacion para el titulo en h2*/
@keyframes translate1{
  0% { opacity : 0; padding-left : 0; }
  20% { opacity : 1; padding-left : 8%; }
  65% { opacity : 1; padding-left : 9%; }
  80% { opacity : 0; padding-left : 16%; }
  100% { opacity : 0; padding-left : 16%; }
}

header {/*Formato de Cabecera */
  width:100%;
	overflow:hidden;
	background:rgba(61, 255, 235, 0.5);
	margin-bottom:20px;
  position: fixed;
}
header .Title { /*Formatos para los textos*/
	font-size:30px;
	line-height:100px;
	float:left;
  color: #24566E;
}
header .nav { /*Mover menu a la derecha*/
	float:right;
	line-height:100px;
}
header .nav a {/*Creacion del estili del menu*/
	display:inline-block;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
header .nav a:hover { /*Animacion al poner sobre el menu*/
	background:rgba(55, 109, 232, 0.5);
	border-radius:50px;
  color: white;
}

footer { /*Formato para pie de pagina*/
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 20% 20% 0 0;
    position: relative;;
    margin-top: 10px;
}
hr {/*Para la linea debajo de los titulos (h2)*/
    border: 0;
    height: 2px;
    margin:18px 0;
    position:relative;
background: -moz-linear-gradient(left, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 15%, rgba(255,0,0,0.65) 50%, rgba(255,0,0,0) 85%, rgba(255,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,0,0)), color-stop(15%,rgba(255,0,0,0)), color-stop(50%,rgba(255,0,0,0.65)), color-stop(85%,rgba(255,0,0,0)), color-stop(100%,rgba(255,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 15%,rgba(255,0,0,0.65) 50%,rgba(255,0,0,0) 85%,rgba(255,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 15%,rgba(255,0,0,0.65) 50%,rgba(255,0,0,0) 85%,rgba(255,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 15%,rgba(255,0,0,0.65) 50%,rgba(255,0,0,0) 85%,rgba(255,0,0,0) 100%); /* IE10+ */
background: linear-gradient(left, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 15%,rgba(255,0,0,0.65) 50%,rgba(255,0,0,0) 85%,rgba(255,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */
}
.wrapper { /*Formato para el contenido de la paguina*/
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
  text-align: center;
}
.fill{
  padding-top: 110px;
  line-height: 20pt;
  color: white;
}
.container {
	width: 80%;
	margin: 0 auto;
	padding: 0 30px;
}
section { /*Correccion de sobreposicion del header*/
	padding: 75px 0;
}
a:link { /*Quita el formato de impervinculo*/
    text-decoration: none;
}
.SocialNet{ /*Para el formato de los iconos de contacto*/
    text-align: center;
    padding: 70px 0
}
.SocialNet a { /*Dar formato a cada espacio donde esta el icono */
    padding: 11px 14px;
    transition: .3s;
    color: #3DFFEB;
    display: inline-block;;
}

.SocialNet a:hover { /*Efecto en iconos*/
    background-color: #3DFFEB;
    border-radius: 60%;
}
.SocialNet a#Facebook:hover{/*Cambio de colores en cada icono de contacto.*/
  color: #3b5998;
}
.SocialNet a#Twitter:hover{
  color: #55acee;
}
.SocialNet a#GitHub:hover{
  color: #000000;
}
.SocialNet a#mail:hover{
  color: #dd4b39;
}

.SizeHobbie{ /*Tamaño dado a imagenes en hobbies*/
  width: 95%; height: 100%;
}
img{ /*Agregar espacion entre las imagenes (margen superior)*/
 margin-top: 10px;
}
.SizeImg{ /*Tamaño en imagenes de skills*/
  width: 75%; height: 80%;
}

/*Iconos*/

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?fynuyn');
    src: url('fonts/icomoon.eot?fynuyn#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?fynuyn') format('truetype'), url('fonts/icomoon.woff?fynuyn') format('woff'), url('fonts/icomoon.svg?fynuyn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 80px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\ea86";
}

.icon-facebook:before {
    content: "\ea91";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-github:before {
    content: "\eab0";
}


/*Iconos*/
